.header__lang-item {
  margin: 0;
  padding-top: 18px;
  padding-left: 18px;
  text-decoration-line: none;
  color: #ffffff;
}

.header__lang-item:first-child {
  text-decoration-line: underline;
}

@media (max-width: 320px) {
  .header__lang-item {
    margin: 0;
    padding-top: 18px;
    padding-left: 18px;
    font-size: 18px;
    line-height: 20px;
    text-align: right;
  }
}
