.page {
  background-color: #2A2C2F;
  font-family: 'Inter', Helvetica, sans-serif;
  color: #ffffff;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  max-width: 1280px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}