.photo-grid {
  max-width: calc(100% - 96px);
  margin: 0 auto;
  padding-top: 92px;
}

@media all and (max-width: 767px) {
  .photo-grid {
    max-width: 90%;
    margin: 0 auto;
    padding-top: 64px;
  }
}

@media (min-width: 767px) and (max-width: 1023px){
  .photo-grid {
    max-width: 720px;
  }
}