.places {
  max-width: 928px;
  margin: 0 auto;
  padding-top: 92px;
}

@media all and (max-width: 767px) {
  .places {
    width: 100%;
    margin: 0 auto;
    padding-top: 64px;
 }
}

@media (min-width: 321px) and (max-width: 1023px){
  .places {
    max-width: 720px;
  }
}

@media (min-width: 1280px){
  .places {
    max-width: 984px;
  }
}