.header__logo {
  margin: 0;
  background-image: url('../../../images/__logo.svg');
  background-size: contain;
  position: relative;
  width: 176px;
  min-height: 52px;
}

@media (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: auto;
  }
}