.header {
  max-width: calc(100% - 96px);
  margin: 0 auto;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 767px) {
  .header {
    max-width: 90%;
    padding-top: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  .header {
    max-width: 720px;
    padding-top: 28px;
  }
}

@media (min-width: 1280px){
  .header {
    max-width: 1184px;
  }
}