.intro__items {
  width: 690px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  padding-top: 33px;
}

@media (max-width: 320px) {
  .intro__items {
    width: 100%;
    padding-top: 34px;
  }
}