.lang-list__item {
  margin: 0;
  padding-top: 18px;
  padding-right: 18px;
}

.lang-list__item:last-child {
  padding-right: 0px;
}

.lang-list__item:hover{
  opacity: .8;
}

@media all and (max-width: 767px) {
  .lang-list__item {
    padding-top: 14px;
  }
}