.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  padding-top: 48px;
  max-width: 720px;
}

@media all and (max-width: 767px) {
  .lead__title {
    width: 90%;
    font-size: 40px;
    line-height: 44px;
 }
}