.menu__link {
  margin: 0;
  padding: 0;
  text-decoration-line: none;
  color: #ffffff;
  padding-right: 18px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
  
.menu__link:hover{
  opacity: .8;
}

@media all and (max-width: 767px) {
  .menu__link {
    padding-bottom: 32px;
    text-align: left;
    font-size: 24px;
    line-height: 24px;
  }

  .menu__link:last-child {
    padding-bottom: 0;
  }
} 