@font-face {
  src: url(../fonts/Inter/Inter-Regular.woff) format('woff'),
       url(../fonts/Inter/Inter-Regular.ttf) format('truetype');
  font-family: 'Inter';
  font-weight: normal;
} 

@font-face {
  src: url(../fonts/Inter/Inter-Bold.woff) format('woff'),
       url(../fonts/Inter/Inter-Bold.ttf) format('truetype');
  font-family: 'Inter';
  font-weight:  600;
} 

@font-face {
  src: url(../fonts/Inter/Inter-Black.woff) format('woff'),
       url(../fonts/Inter/Inter-Black.ttf) format('truetype');
  font-family: 'Inter';
  font-weight:  900;
} 