.lead__image {
  margin: 0;
  padding-top: 56px;
  width: 100%;
  height: auto;
}

@media (max-width: 320px) {
  .lead__image {
    padding-top: 40px;
    width: 100%;
  }
}

@media (min-width: 321px) and (max-width: 1023px){
  .lead__image {
    padding-top: 56px;
    width: 100%;
  }
}