.intro {
  margin: 0 auto;
  width: calc(100% - 96px);
  padding-top: 92px;
}

@media (max-width: 320px) {
  .intro {
    width: 288px;
    padding-top: 64px;
    margin: 0 auto;
  }
}

@media (min-width: 321px) and (max-width: 1023px){
  .intro {
    margin: 0 auto;
    width: 720px;
  }
}


@media (min-width: 1280px){
  .intro {
    margin: 0 auto;
    width: 984px;
  }
}