.intro {
  margin: 0 auto;
  width: calc(100% - 96px);
  padding-top: 92px;
}

@media all and (max-width: 767px) {
  .intro {
    width: 90%;
    padding-top: 64px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  .intro {
    margin: 0 auto;
    max-width: 720px;
  }
}


@media (min-width: 1280px){
  .intro {
    margin: 0 auto;
    max-width: 984px;
  }
}

