.places__item-text {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
}

@media (max-width: 320px) {
  .places__item-text {
    font-size: 16px;
    line-height: 163%;
  }

  .places__item-text:first-child {
    padding-bottom: 25px;
  }

  .places__item-text:last-child {
    padding-bottom: 0;
  }
}

@media (min-width: 321px) and (max-width: 1023px){
  .places__item-text {
    font-size: 16px;
    line-height: 163%;
  }
}