.cover {
  width: 100%;
  padding-top: 92px;
  margin: 0 auto;
  position: relative;
  display: flex;
}


@media all and (max-width: 767px) {
  .cover {
    padding-top: 66px;
  }
}

@media (min-width: 1280px){
  .cover {
    width: 1184px;
  }
}