@import url(../styles/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);

/*Header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang/header__lang.css);
@import url(../blocks/lang-list/lang-list.css);
@import url(../blocks/lang-list/__item/lang-list__item.css);
@import url(../blocks/header/__lang/_link/header__lang_link_inactive.css);
@import url(../blocks/header/__lang/_link/header__lang_link_active.css);

/*Lead*/
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__image-content/lead__image-content.css);
@import url(../blocks/lead/__image-capture/lead__image-capture.css);
@import url(../blocks/lead/__center/lead__center.css);

/*Intro*/
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__items/intro__items.css);
@import url(../blocks/intro/__item/intro__item.css);
@import url(../blocks/intro/__bold-accent/intro__bold-accent.css);

/*Photo Grid*/
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/photo-grid.css);


/*Cards*/
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__image/cards__image.css);

/*Places*/
@import url(../blocks/places/places.css);
@import url(../blocks/places/__list/places__list.css);
@import url(../blocks/places/__item/places__item.css);
@import url(../blocks/places/__item-title/places__item-title.css);
@import url(../blocks/places/__image/places__image.css);
@import url(../blocks/places/__text-area/places__text-area.css);
@import url(../blocks/places/__item-text/places__item-text.css);
@import url(../blocks/places/__website/places__website.css);
@import url(../blocks/places/__website-header/places__website-header.css);
@import url(../blocks/places/__website-link/places__website-link.css);

/*Cover*/
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__link/cover__link.css);
@import url(../blocks/cover/__image/cover__image.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__center/cover__center.css);


/*Footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__link/menu__link.css);
