.footer {
  max-width: calc(100% - 96px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 92px;
  padding-bottom: 24px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    max-width: 186px;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 5%;
  }
}


@media (min-width: 768px) and (max-width: 1023px){
  .footer {
    max-width: 720px;
  }
}

@media (min-width: 1280px){
  .footer {
    max-width: 1184px;
  }
}