.places__item {
  display: grid;
  column-gap: 32px;
  row-gap: 48px;
  grid-template-columns: 440px 456px;
  grid-template-rows: repeat(2, auto);
  align-items: end;
  width: 100%;
  padding: 0 0 80px 0;
}

.places__item:last-child {
  padding: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .places__item {
    display: grid;
    row-gap: 32px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    align-items: end;
    width: 100%;
    padding: 0 0 50px 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  .places__item {
    grid-template-columns: 340px 352px;
    padding: 0 0 73px 0;
    align-items: start;
  }
}

@media (min-width: 1280px){
  .places__item {
    margin: 0;
    column-gap: 40px;
    grid-template-columns: 460px 484px;
  }
}